body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  padding-bottom: 5px;
}

#agenda thead {
  background-color: blue;
  padding: 4px;
}

#agenda {
  width: 100%;
}

